table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
}
  
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 10px;
}

th {
    background-color: rgb(9, 112, 230);
}